table, td, th{
    border: solid silver;
}

h1 {
    background-color: white;
    font-size: 30px;
    color: black;
    text-align: center;     
    margin-top: 10%;
    margin-bottom: 3%;
}

.tabela {
    font-size: 25px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

.tudo {
    margin: 40px;
    text-align: center;
} 

table td {
    padding: 8px;
}
